@font-face {
  font-family: yh;
  src: url("./fonts/FZYouHJW_504L.TTF");
}

@font-face {
  font-family: fz;
  src: url("./fonts/方正正纤黑.TTF");
}

@font-face {
  font-family: lato;
  src: url("./fonts/Lato-Regular.ttf");
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
}

.h-container {
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.text {
  color: #3696c7;
}

.chi {
  font-family: fz;
  font-size: 36px;
  font-weight: 900;
}

.eng {
  margin-left: 10px;
  font-family: lato;
  font-size: 34px;
  font-weight: 600;
}

.subtitle {
  margin-top: 20px;
  font-family: yh;
  font-size: 20px;
  font-weight: 500;
}

.cont {
  font-size: 16px;
  margin-right: 15px;
  cursor: pointer;
  color: #3696c7;
}

.menu {
  width: 25px;
  height: 33px;
  cursor: pointer;
}

.menus {
  position: absolute;
  top: 2.5vh;
  right: 4vw;
  display: flex;
  align-items: center;
  z-index: 70;
}

#list {
  margin-right: 10px;
}

.hide {
  transition: 0.7s;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.top {
  width: 40px;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  bottom: 10vh;
  right: 8vw;
  z-index: 120;
}

.top:hover {
  cursor: pointer;
}

.show {
  opacity: 1;
  transition: 0.7s;
  visibility: visible;
  display: flex;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-90deg);
  }
}

@keyframes roback {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(0deg);
  }
}

#qr {
  width: 11vw;
  position: absolute;
  top: 41vh;
  right: 24vw;
  opacity: 0;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

* {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: 0.8s;
  transition-timing-function: ease;
}

@keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}

.buttons {
  margin-top: 8vh;
  width: 180px;
  display: flex;
  justify-content: space-between;
}

.button {
  cursor: pointer;
  background-color: white;
  font-family: fz;
  font-size: 16px;
  padding: 5px;
  padding-bottom: 4px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  color: #3696c7;
  border-color: #3696c7;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  transition-property: color, background-color;
  -webkit-transition-property: color, background-color;
}

.button:hover,
.button:focus,
.button:active {
  cursor: pointer;
  animation-name: hvr-back-pulse;
  -webkit-animation-name: hvr-back-pulse;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  background-color: #3696c7;
  border-color: #3696c7;
  color: white;
}

.page {
  height: 100%;
  width: 100%;
  margin: 0;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  display: flex;
  background-color: white;
  position: absolute;
  top: 0;
  position: fixed;
  overflow: hidden;
}

.page1 {
  background-color: transparent;
}

.focus {
  visibility: visible;
  display: flex;
  animation: show 0.5s 0.5s 1 forwards;
  z-index: 50;
}

.unfocus {
  animation: hide 0.5s 1 forwards;
  z-index: 20;
}

.footnote {
  position: absolute;
  bottom: 1.2vh;
  font-size: 10px;
  width: 100vw;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 300;
  z-index: 150;
}

.rotate {
  animation: rotate 0.5s forwards;
}

.roback {
  animation: roback 0.5s forwards;
}

.appear {
  animation: appear 4s forwards;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
    display: none;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}

/* about page */
.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-content {
  display: flex;
  flex-direction: column;
  width: 34vw;
}

.about-title {
  color: #3696c7;
  font-family: fz;
  font-weight: 900;
  font-size: 36px;
  margin-bottom: 6vh;
}

.about-sub {
  font-family: yh;
  font-size: 18px;
  color: #555555;
  margin-bottom: 4vh;
  line-height: 26px;
}

.typing {
  font-size: 48px;
  font-family: fz;
  font-weight: 900;
  color: #3696c7;
  margin-bottom: 10vh;
}

.about-left {
  width: 35vw;
  margin-left: 15vw;
}

.blink {
  animation: blink 0.6s ease infinite;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

/* join page */

.text.chi.join {
  margin-top: 7vh;
}

.j-sub {
  font-family: yh;
  font-size: 13px;
  color: #555555;
  margin-top: 8vh;
}

.j-email {
  margin-top: 10vh;
  font-family: fz;
  font-size: 18px;
  color: #555555;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.jobs {
  display: flex;
  flex-direction: row;
  margin-top: 7vh;
  margin-left: 3vw;
  margin-right: 3vw;
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
}

.email {
  text-decoration: none;
  outline: none;
  padding-bottom: 3px;
  border-bottom-style: solid;
  border-color: #555555;
  border-width: 3px;
  color: #555555;
  font-family: fz;
  font-size: 30px;
}

.email.join {
  font-size: 14px;
  margin-left: 5px;
  border-width: 2px;
  padding-bottom: 2px;
}

.email:hover {
  color: #3696c7;
  border-color: #3696c7;
  transition: 0.5s;
}

.job-detail-page {
  position: absolute;
  z-index: 200;
  width: 85vw;
  height: 90vh;
  left: 7.5vw;
  top: 5vh;
  background-color: white;
  display: none;
  transition: 1s;
  box-shadow: 0px 1px 1px 5px rgba(0, 0, 0, 0.05);
}

.detail-title {
  margin-top: 10vh;
  margin-left: 6vw;
  font-family: fz;
  color: #3696c7;
  font-size: 26px;
  font-weight: 900;
}

.job-detail-title {
  margin-top: 5vh;
  margin-left: 6vw;
  font-family: fz;
  color: #3696c7;
  font-size: 20px;
}

.job-details {
  margin-top: 3vh;
  margin-left: 6vw;
  width: 85%;
}

.job-detail {
  font-family: yh;
  color: #555555;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 20px;
}

.shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(150, 150, 150, 0.5);
  display: none;
  z-index: 125;
}

.job-show {
  display: block;
  animation: show 0.2s forwards;
}

.close {
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: absolute;
  right: 5vw;
  top: 5vh;
}

/* contact page */
.c-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-content {
  position: absolute;
  bottom: 17vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-bottom {
  font-family: fz;
  font-size: 16px;
  color: #555555;
  margin-top: 7vh;
}

.c-email {
  font-family: fz;
  font-size: 18px;
  color: #555555;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10vh;
}

.map {
  margin-top: 0;
  width: 100vw;
}

.dot {
  position: absolute;
  background-color: #3696c7;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: none;
}

#dot1 {
  top: 32.3%;
  left: 8.6%;
  animation: shine 2s infinite;
}

#dot2 {
  top: 27.5%;
  left: 20%;
  animation: shine 2s 0.5s infinite;
}

#dot3 {
  top: 34%;
  left: 18%;
  animation: shine 2s 1s infinite;
}

#dot4 {
  top: 25.2%;
  left: 47.5%;
  animation: shine 2s 1.5s infinite;
}

#dot5 {
  top: 24.3%;
  left: 44.3%;
  animation: shine 2s infinite;
}

#dot6 {
  top: 27.5%;
  left: 45%;
  animation: shine 2s 0.5s infinite;
}

#dot7 {
  top: 34%;
  left: 80%;
  width: 18px;
  height: 18px;
  animation: shine 2s 1s infinite;
}

#dot8 {
  top: 38%;
  left: 83.3%;
  width: 18px;
  height: 18px;
  animation: shine 2s 1.5s infinite;
}

#dot9 {
  top: 84.7%;
  left: 90.8%;
  animation: shine 2s infinite;
}

#dot10 {
  top: 78%;
  left: 94%;
  animation: shine 2s 0.5s infinite;
}

@keyframes shine {
  0% {
    opacity: 0.3;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0.3;
    transform: scale(0.8);
  }
}

.c-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 3vw;
  margin-bottom: 2vh;
  padding-top: 2vh;
  margin-top: 5vh;
}

.c-right {
  color: #555555;
  font-family: yh;
  font-size: 14px;
}

.c.email {
  font-size: 26px;
  margin-top: 2vh;
}

.c-left {
  margin-right: 4vw;
  font-size: 42px;
  color: #3696c7;
  font-family: fz;
  font-weight: 900;
}

.c-right-s {
  padding-bottom: 8px;
}

/* article page */
.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 180px;
  margin-top: 20vh;
  margin-left: 3vw;
}

.a-container {
  margin-left: 2vw;
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.text.chi.article {
  margin-bottom: 6vh;
  font-size: 32px;
  padding-bottom: 2vh;
  border-bottom-style: solid;
  border-color: #3696c7;
}

#articles {
  overflow: auto;
  width: 75vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

.blank {
  width: 100%;
  background-color: white;
  color: white;
  padding-bottom: 100px;
}

@media (max-width: 500px) {
  .page {
    align-items: baseline;
  }

  /* home page */

  .h-container {
    margin: auto;
    margin-top: 15vh;
  }

  #qr {
    left: 40vw;
    top: 60vh;
    width: 20vw;
  }

  .chi {
    font-size: 24px;
  }

  .eng {
    font-size: 22px;
  }

  .subtitle {
    font-size: 16px;
  }

  .button {
    font-size: 14px;
  }

  .cont {
    font-size: 22px;
    display: block;
    margin-bottom: 40px;
    margin-right: 40px;
  }

  .menu {
    width: 28px;
    height: 35px;
  }

  #list {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 0;
    top: -3vh;
    right: -4vw;
    width: 100vw;
    height: 100vh;
    padding-top: 15vh;
  }

  .footnote {
    font-size: 8px;
    letter-spacing: 0.8px;
    bottom: 1vh;
  }

  /* article page */
  .a-container {
    flex-direction: column;
  }

  .nav {
    flex-direction: row;
    width: 100%;
    margin-top: 12vh;
    margin-bottom: 2vh;
    align-items: center;
    height: 6vh;
  }

  .text.chi.article {
    border-bottom-style: none;
    border-right-style: solid;
    border-right-width: 3px;
    margin: 0;
    margin-right: 4vw;
    font-size: 5vw;
    padding-bottom: 2.5px;
    padding-top: 2.5px;
    padding-right: 12.5px;
  }

  .blank {
    height: 3vh;
    padding: 0;
  }

  #articles {
    width: 100vw;
    height: 80vh;
  }

  .top {
    display: none;
  }

  /* about page */
  .about-container {
    flex-direction: column;
    width: 80vw;
    margin: auto;
    height: 100vh;
    align-items: baseline;
    justify-content: center;
  }

  .about-left {
    margin-left: 0;
    margin-bottom: 10vh;
  }

  .typing {
    font-size: 42px;
  }

  .about-sub {
    font-size: 16px;
  }

  .about-content {
    width: 100%;
  }

  /* join page */

  .text.chi.join {
    font-size: 20px;
    margin-top: 8vh;
  }

  .j-sub {
    margin-top: 3vh;
    font-size: 12px;
    line-height: 16px;
  }

  .jobs {
    flex-wrap: wrap;
    margin-top: 3vh;
    justify-content: space-around;
    margin-left: 0;
    margin-right: 0;
  }

  .j-email {
    margin-top: 3vh;
    margin-bottom: 2vh;
  }

  .job-detail-page {
    top: 10vh;
    height: 85vh;
    overflow-y: auto;
  }

  .close {
    width: 25px;
    height: 25px;
    top: 13vh;
    right: 13vw;
    position: fixed;
  }

  .detail-title {
    margin-top: 6vh;
    font-size: 22px;
  }

  .job-detail-title {
    font-size: 18px;
    margin-top: 5vh;
  }

  .job-details {
    margin-top: 3vh;
  }

  .job-detail {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 5px;
    text-align: left;
  }
  .container {
    margin-left: 7%;
    width: 86%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .email {
    font-size: 24px;
  }

  /* contact page */
  .c-container {
    height: 100vh;
  }

  .c-top {
    flex-direction: column;
    width: 85vw;
    margin-bottom: 12vh;
  }

  .map {
    display: none;
  }

  .c-right {
    font-size: 13px;
  }

  .c-right-s {
    text-align: center;
    margin-bottom: 7px;
  }

  .c-left {
    margin-bottom: 5vh;
    font-size: 36px;
  }

  .c-email {
    font-size: 14px;
    margin-bottom: 10vh;
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }
  .c-email-label {
    margin-bottom: 10px;
  }
}
